{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="title_block">
        <h1>Change password</h1>
    </div>
    {% if user.is_authenticated %}
        <form action="{% url 'change_password' %}" method='post'>
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Change"></p>
        </form>
    {% else %}
        <h2>You need to be logged in!</h2>
    {% endif %}
{% endblock %}